{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
{{ end }}

{{ define "main" }}

<div class="splash-container">
  <div class="splash">
    
    <h1><span class="fancy">#</span>{{ .Params.heading }}</h1>
    {{ if isset .Params "subheading" }}
    <span class="handle">{{ .Params.subheading }}</span>    
    {{ end }}
    
    <!-- Replace MEEEEE -->

    {{ partial "social-icons.html" .}}
    {{.Content}}
  </div>
</div>

{{ end }}